*{
    padding: 0;
    margin: 0;
}
.box{
    width: 80%;
    margin: auto;
    position: relative;
}
img{
    width: 100%;
    display: block;
}
iframe{
    position: absolute;
    width: 50%;
    height: 38vw;
    top: 18%;
    left: 25%;
}
.iframe_text{
    position: absolute;
    left: 22%;
    bottom: 10px;
    color: white;
}